body { margin: 0; box-sizing: border-box;}

@black: #000000;
@black-filter: invert(0%) sepia(54%) saturate(5212%) hue-rotate(87deg) brightness(99%) contrast(105%);

@white: #FFFFFF;
@white-filter: invert(99%) sepia(55%) saturate(2%) hue-rotate(81deg) brightness(109%) contrast(100%);

@primary:        #0A2342;
@primary-filter: invert(11%) sepia(39%) saturate(2072%) hue-rotate(185deg) brightness(96%) contrast(97%);

@secondary:        #2CA58D;
@secondary-filter: invert(50%) sepia(69%) saturate(407%) hue-rotate(118deg) brightness(95%) contrast(89%);

@tertiary:        #C82634;
@tertiary-filter: invert(53%) sepia(82%) saturate(4264%) hue-rotate(326deg) brightness(126%) contrast(92%);

@app-colors: black, white, primary, secondary, tertiary;

@current-tab-color: lighten(@primary,10%); 

@main-background-color: @black;
@main-text-color: @white;

@tabs-main-color: white;
@tabs-background-color: black;
@tabs-border-color: white;

.generate-backgrounds(@colors) {
  .loop(@i: 1) when (@i <= length(@colors)) {
    @color: extract(@colors, @i);
    .@{color}-background {
      background-color: @@color;
    }
    .loop(@i + 1);
  }
  .loop();
}
.generate-backgrounds(@app-colors);

.uonihon-html-divided-in-two-main-spaces {
  background-color: lighten(@current-tab-color, 10%);
  color: @main-text-color;
  font-family: Garamond, sans-serif;
  font-size: 35px;
  font-weight: 600;

  .uonihon-main-space {

    &.top-main-space {

      .uonihon-app {

        &.vocabulary-app {

          .word-tester-activity {
            display: grid;
            gap: 10px;
            padding: 10px;
            grid-template-areas:
              'word      word      reading     reading'
              'meaning   meaning   alternative alternative'
              'explainer explainer explainer   explainer'
              'sentences sentences sentences   sentences'
              'noKanji   noKanji   familiarity familiarity'
              'moreInfo  moreInfo  moreInfo    moreInfo'
              'unlocked  unlocked  delete      delete'
              'nothing   nothing   confirm     cancel';

            .word { grid-area: word;} 
            .reading { grid-area: reading;}
            .meaning { grid-area: meaning;}
            .alternative { grid-area: alternative;}
            .explainer { grid-area: explainer;}
            .sentences { grid-area: sentences;}
            .noKanji { grid-area: noKanji;}
            .familiarity { grid-area: familiarity;}
            .moreInfo { grid-area: moreInfo;}
            .unlocked { grid-area: unlocked;}
            .delete { grid-area: delete;}
            .nothing { grid-area: nothing;}
            .confirm { grid-area: confirm;}
            .cancel { grid-area: cancel;}
          }

          .words-list-activity {
          }

        }

        &.kanji-app {
          
        }
        
        &.kana-app {
          
        }
      }

    }
      
    &.bottom-main-space {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 5.5px;
      z-index: 2;
      display: grid;  
      grid-template-areas:
        'list list list list                           search search     search search     add add add add'
        'reading reading reading reading               reading reading   writing writing   writing writing writing writing'
        'vocabulary vocabulary vocabulary vocabulary   kanji kanji       kanji kanji       kana kana kana kana';

      .list { grid-area: list;}
      .search { grid-area: search;}
      .add { grid-area: add;}
      .reading { grid-area: reading;}
      .writing { grid-area: writing;}
      .vocabulary { grid-area: vocabulary;}
      .kanji { grid-area: kanji;}
      .kana { grid-area: kana;}

      .tab {
        text-align: center;
        border: 2px outset @white;
        padding: 18px 0;
        width: 100%; 
        
        &.inline {
          background-color: @current-tab-color;
          display: flex;
          padding: 30px 0;
          justify-content: center;

          div {
            align-content: center;
          }
        }
      }

    }

  }

}

.big-font {
  font-size: 55px;
}

.card {
  text-align: center;
  padding: 50px 15px 25px 20px;
  background-color: @primary;
  min-height: 60px;
  border-radius: 10px;
}

.obfuscation-container {
  position: relative;

  .label {
    position: absolute; 
    top: 13px; 
    left: 11px; 
    font-size: 22px;
    z-index: 1;
    font-weight: 800;
    font-style: italic;
    color: darken(@white, 25%);
  }

  .obfuscated {
    filter: brightness(0%) blur(4px);
  }
  
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 14px;
  filter: ~'@{@{tabs-main-color}-filter}';
}