// Variables
@charcoal:        #373F51;
@charcoal-hover:  darken(@charcoal, 10%);

@celestial-blue:        #008DD5;
@pale-dogwood:        #DFBBB1;
@crayola:        #F56476;
@cerise:        #E43F6F;

* {
    margin: 0;
    padding: 0;
    font-family: Garamond, sans-serif;
    font-size: 40px;
    font-weight: 600;
  }

  .full-height {
    height: 100%;
    background-color: @charcoal-hover;
  }

  .bottom-tabs {
    position: fixed;
    bottom: 0;
  }

  .tab-icon {
    width: 70px
  }